/**
 * Copyright davidos.us (Orginally From Google) 
 */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.mdl-grid {
  max-width: 1024px;
  margin: 20px auto;
}
.material-icons {
  font-size: 36px;
  top: 5px;
  position: relative;
}
.mdl-layout__header-row {
  padding: 0;
  margin: 0;
}
#save {
  width: 100%;
}
#notes-container {
  padding: 0;
  width: 100%;
}
.mdl-card {
  min-height: 0;
}
.message {
  color: #fff;
  font-size:20px;
  line-height: 20px;
  font-weight: 200;
  padding-bottom: 30px;
}
.delete {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #BBB;
  font-size: 10px;
  height: 25px;
  line-height: 25px;
}
.delete:HOVER {
  color: inherit;
}
.date {
  position: absolute;
  padding: 5px 15px;
  bottom: 0;
  left: 0;
  font-style: italic;
  font-size: 12px;
  color: #BBB;
}
#notes-section-title {
  margin-top: 20px;
}
.mdl-card__supporting-text {
  background: linear-gradient(white, #f9f9f9);
}
.sticky-note {
  background: linear-gradient(#ff6666, #ff3333);
  min-height:250px;
}

.mdl-layout__header {
  
  
}
.mdl-layout__header-row {
    background-color: #ff6666;
}

header .mdl-layout__header {
    background-color: #fff !important;
}

.mdl-color--primary {
background-color:rgb(255, 102, 102)!important
}

.mdl-card__media{
  background-color: #fff;
}

.mdl-card {
  background-color: #fff !important;
}

.mdl-color--blue-grey-200 {
    background-color: #ffe6e6 !important;
}


::-moz-selection {
    background: #ffe6e6;
    text-shadow: none
}

::selection {
    background: #ffe6e6;
    text-shadow: none
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,.mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    color: #ff6666;
    font-size: 12px;
    top: 4px;
    visibility: visible
}

.mdl-textfield__label:after {
    background-color: #ff6666;
}